#side-carousel-hero{
	width:100% !important;
	item{
		width:100% !important;
	}
	.left{
		text-shadow: none !important;
		background-image:none !important;
	}

	.right{
		background-image:none !important;
	}
}